@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&family=Nunito:wght@300&family=Open+Sans:ital@1&family=Poppins:wght@100&family=Quicksand:wght@600&display=swap');
:root {
    --cor--primaria: #320c6f;
    --cor--secundaria: #9336B4;
    --cor--terciaria: #DD58D6;
    --cor--quatro: #f0f8ff;

    --fonte-primaria: 'Nunito', sans-serif;
    --fonte-secundaria: 'Quicksand', sans-serif;
}


* {
    margin: 0;
    padding: 0;
}
.cabecalho {
    padding: 2% 0% 0% 0%;
}
.cabecalho__menu {
    display: flex;
    gap: 80px;
    justify-content: center;
    align-items: center;
}
.cabecalho__menu__link {
    font-family: 'Nunito', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    color: aliceblue;
    text-decoration: none;
}
.cabecalho__menu__link:hover {
    color: var(--cor--secundaria);
}
body {
    box-sizing: border-box;
    background: linear-gradient(#DD58D6,#40128B);
    color: #f0f8ff;
    
}

.apresentacao {
    display: flex;
    align-items: center;
    padding: 5% 15%;
    justify-content: space-between;
}
.imagem__apresentacao {
    width: 30%;
    border: 8px solid var(--cor--secundaria);
    border-radius: 9px;
   
}
.apresentacao__conteudo {
    display: flex;
    width: 60%;
    flex-direction: column;
    

}
.apresentacao__conteudo__titulo {
    font-family: 'Nunito', sans-serif;
    font-size: 2rem;
}
.apresentacao__conteudo__texto {
    font-size: 1.5rem;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    gap: 16px;
    

}
.titulo__destaque {
    font-size: 1.5rem;
    color: #F266AB;
    text-decoration: underline;
}
.apresentacao__links {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    gap: 32px;
}
.apresentacao__links__navegacao {
    display: flex;
    justify-content: center;
    text-decoration: none;
    margin-top: 3%;
    border: 2px solid var(--cor--secundaria);
    border-radius: 8px;
    width: 50%;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 5px 0;
    color: var(--cor--quatro);
    font-family: var(--fonte-secundaria);


}
.apresentacao__links__navegacao:hover {
    background-color: var(--cor--terciaria);
}
.apresentacao__experiencias{
    padding: 32px;
    text-align: left;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: var(--fonte-primaria);
    font-size: 32px;
}


.rodape {
    color: var(--cor--primaria);
    background-color: #F266AB;
    padding: 24px;
    text-align: center;
    font-family: var(--fonte-primaria);
    font-size: 1rem;
    font-weight: 600;
}
.logo__rodape {
    width: 5%;
    justify-content: center;
    padding: 2px;

}

.apresentacao__conteudo__formacao {
    font-family: var(--fonte-primaria);
    text-align: center;
    font-size: 32px;
    text-decoration: underline;
    margin-top: 10%;
    font-weight: 600;
    
}
.apresentacao__conteudo__lista {
    font-family: var(--fonte-secundaria);
    margin-top: 3%;
    font-size: 24px;
}
.apresentacao__conteudo__complemento {
    font-family: var(--fonte-secundaria);
    font-size: 16px;
    margin-left: 5%;
}
@media (max-width: 1200px) {

    .cabecalho{
      padding: 10%;
    }
    .cabecalho__menu{
        justify-content: center;
    }
    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }
    .apresentacao__conteudo {
        width: auto;
    }
}